#!/usr/bin/make -f
#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
LIBRARY = libunbound2

%:
	dh $@

build: build-stamp
build-stamp:
	dh build --before configure
	dh_auto_configure -- \
		--disable-rpath \
		--with-pidfile=/var/run/unbound.pid \
		--with-libevent \
		--with-pythonmodule \
		--with-pyunbound \
		--libdir=/usr/lib/$(DEB_HOST_MULTIARCH)
	dh_auto_build
	dh build --after test
	touch $@

clean:
	dh clean

install: build
	dh install --before dh_installinit
	dh_installinit --error-handler=true --restart-after-upgrade
	dh install --after dh_installinit
	echo '$$named unbound' > debian/unbound/etc/insserv.conf.d/unbound
	install -m 0755 debian/resolvconf debian/unbound/etc/resolvconf/update.d/unbound
	install -m 0644 doc/example.conf debian/unbound/usr/share/doc/unbound/examples/unbound.conf

	mkdir -p debian/libunbound-dev/usr/lib/$(DEB_HOST_MULTIARCH)
	mv \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libunbound.a \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libunbound.so \
		debian/libunbound-dev/usr/lib/$(DEB_HOST_MULTIARCH)

	mkdir -p debian/$(LIBRARY)/usr/lib/$(DEB_HOST_MULTIARCH)
	mv \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/*.so.* \
		debian/$(LIBRARY)/usr/lib/$(DEB_HOST_MULTIARCH)
	chmod 0644 debian/$(LIBRARY)/usr/lib/$(DEB_HOST_MULTIARCH)/*

	# XXX gross hack to prevent python module from linking against everything
	rm -f _unbound.la
	sed -i -e 's/^dependency_libs=.*/dependency_libs=''/' libunbound.la
	make _unbound.la LIBS=""
	find debian/python-unbound/usr/lib/pyshared -name '*.so.*' -delete
	install -m 0644 .libs/_unbound.so.2.*.* \
		debian/python-unbound/usr/lib/pyshared/$(shell pyversions -d)/_unbound.so

binary-arch: install
	dh binary-arch

binary: binary-arch binary-indep
