#!/usr/bin/make -f
#export DH_VERBOSE=1
%:
	dh $@

build: build-stamp
build-stamp:
	dh build --before configure
	libtoolize --force
	aclocal
	autoheader
	autoconf
	dh_auto_configure -- \
		--disable-rpath \
		--with-chroot-dir=/var/lib/unbound \
		--with-pidfile=/var/lib/unbound/unbound.pid
	dh_auto_build
	dh build --after test
	touch $@

clean:
	dh clean

install: build
	dh install --before dh_installinit
	dh_installinit --error-handler=true
	dh install --after dh_installinit
	install -m 0644 doc/example.conf debian/unbound/etc/unbound/unbound.conf

binary-arch: install
	dh binary-arch

binary: binary-arch binary-indep
